<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.css">

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>

    <script src="app/config/pd-app.js"></script>
    <script src="app/controller/index-controller.ui-grid.js"></script>
    <script src="app/services/pd-alert.service.js"></script>

    <script src="app/filter/pd-filter.js"></script>

</head>
<body ng-app="pdProject" class="container">

<div ng-controller="IndexController">

    <form name="formIndex">

        <div class="row">

            <h1>Formulario</h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Cadastro de Pessoas</label>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group"
                                 ng-class="{'has-error' : formIndex.nome.$invalid && formIndex.nome.$touched}">

                                <label class="control-label">Nome</label>

                                <input type="text"
                                       class="form-control"
                                       ng-model="entidade.nome"
                                       ng-required="true"
                                       name="nome"
                                       id="itNome"
                                       autofocus>

                                <div ng-messages="formIndex.nome.$error"
                                     ng-if="formIndex.nome.$invalid && formIndex.nome.$touched">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"
                                 ng-class="{'has-error' : formIndex.sobrenome.$invalid && formIndex.sobrenome.$touched}">

                                <label class="control-label">Sobrenome</label>

                                <input type="text"
                                       class="form-control"
                                       ng-model="entidade.sobrenome"
                                       name="sobrenome"
                                       ng-required="true">

                                <div ng-messages="formIndex.sobrenome.$error"
                                     ng-if="formIndex.sobrenome.$invalid && formIndex.sobrenome.$touched">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <label>Sexo</label>

                                <select class="form-control" ng-model="entidade.sexo">
                                    <option ng-selected="true" value="">Selecione</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group"
                                 ng-class="{'has-error' : formIndex.nascimento.$invalid && formIndex.nascimento.$touched}">

                                <label class="control-label">Data</label>

                                <input type="date"
                                       class="form-control"
                                       ng-model="entidade.nascimento"
                                       name="nascimento"
                                       ng-required="true">

                                <div ng-messages="formIndex.nascimento.$error"
                                     ng-if="formIndex.nascimento.$invalid && formIndex.nascimento.$touched">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">

                                <label>Cor</label>

                                <input
                                       class="form-control"
                                       ng-model="entidade.cor"
                                >
                            </div>
                        </div>

                    </div>

                </div>

                <div class="panel-footer">
                    <buttom class="btn btn-primary" ng-click="salvar()">
                        <i class="fa fa-save"></i>
                        Salvar
                    </buttom>
                    <buttom class="btn btn-warning" ng-click="limpar()">
                        <i class="fa fa-eraser"></i>
                        Limpar
                    </buttom>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Cadastro de Pessoas</label>
                </div>

                <div ui-grid="gridOptions"></div>
            </div>

        </div>
    </form>
</div>

</body>
</html>